.card-box {
  display: flex;
}

header {
  height: 15vh;
  border-bottom: 1px solid red;
  }

main {
  display: flex;
}

.lefthand-content {
  width: 50vw;
  padding: 42px;
  background-color: yellow;
}

.my-work-cont {
  min-width:50vw;
  background-color: blue;
  width: 50vh;
  padding: 16px;
}
.my-work {
  padding: 32px;
  max-height: 70vh;
  overflow-y: scroll;
}
.head-padding {
  padding: 0px 160px;
  display: flex;
  justify-content: space-between;
}

.link-img {
  width: 56px;
  height: 56px;
  opacity: .9;
}

.link-img:hover {
  opacity: 1;
}
.card-img {
  width: 100px;
  height: 100px;
  opacity: .8; 
}

.card-img:hover {
  opacity: 1
}